@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium"), url("../fonts/rubik/rubik-v9-cyrillic_latin-500.woff") format("woff"), url("../fonts/rubik/rubik-v9-cyrillic_latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), url("../fonts/rubik/rubik-v9-cyrillic_latin-700.woff") format("woff"), url("../fonts/rubik/rubik-v9-cyrillic_latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #1a212f;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 290px;
  margin: 0 auto;
}

.section__heading {
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 678px;
  }

  .section__heading {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (min-width: 1300px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  .container {
    width: 1170px;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FAC663;
}

@media (max-width: 767px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--main .site-list {
    display: block;
  }

  .header--main .site-list__link {
    text-decoration: none;
    font-family: "Rubik", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1a212f;
    margin-bottom: 25px;
  }

  .header__phone {
    display: block;
    padding-bottom: 25px;
    font-family: "Rubik", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #1a212f;
  }

  .header__navigation--closed .site-list__item,
.header__navigation--closed .header__contacts {
    display: none;
  }

  .header__navigation--open .site-list__item,
.header__navigation--open .header__contacts {
    display: block;
  }

  .header__navigation--open {
    padding-bottom: 188px;
    padding-top: 50px;
  }

  .header__navigation--nojs .header__toggle {
    display: none;
  }
}
.header--second {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .header {
    background-color: #ffffff;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__contacts {
    display: none;
  }
}
.promo {
  padding-top: 45px;
  padding-bottom: 231px;
  text-align: center;
  background-image: url("../img/promo_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__heading {
  margin: 0;
  padding-bottom: 22px;
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
}

.promo__text {
  font-size: 12px;
  line-height: 14px;
  display: block;
  padding-bottom: 12px;
}

.promo__capture {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: 760px) {
  .promo {
    background-image: url("../img/promo_background_tablet.png");
  }

  .promo__content {
    padding-top: 140px;
    padding-bottom: 530px;
  }

  .promo__text {
    font-size: 14px;
    line-height: 17px;
  }

  .promo__heading {
    font-size: 62px;
    line-height: 73px;
  }

  .promo__capture {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .promo {
    background-image: url("../img/promo_background_desktop.png");
  }

  .promo__content {
    padding-top: 153px;
    padding-bottom: 153px;
    align-items: flex-start;
    padding-left: 66px;
  }
}
.menu-button {
  width: 24px;
  height: 18px;
  border: none;
  background-color: #ffffff;
}
.menu-button--open {
  background-image: url("../img/menu-button__open.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.menu-button--close {
  background-image: url("../img/menu-button__close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.clicked {
  background-color: #fac663;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.order-button {
  display: block;
  box-sizing: border-box;
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: left;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 206px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  background-position: 97% 50%;
  background-repeat: no-repeat;
}
.order-button--white {
  background-color: #fffefd;
  color: #1a212f;
  background-image: url("../img/paw_red.svg");
}
.order-button--red {
  background-color: #ff7236;
  color: #fffefd;
  background-image: url("../img/paw_white.svg");
}
.order-button:hover {
  cursor: pointer;
  color: #1a212f;
  background-color: #ff7236;
}
.order-button:active, .order-button:focus {
  cursor: pointer;
  color: #1a212f;
  background-color: #d8571f;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-list__link {
  display: block;
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1a212f;
  text-decoration: none;
  width: 128px;
}
.site-list__link:hover {
  color: #ff7236;
}
.site-list__link:active, .site-list__link:focus {
  color: #d8571f;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}

.features__name {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.features__image {
  display: block;
  width: 60px;
  height: 60px;
  background: #fac663;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}
.features__image--temperature {
  background-image: url("../img/feature_sign1.svg");
}
.features__image--video {
  background-image: url("../img/feature_sign2.svg");
}
.features__image--taxi {
  background-image: url("../img/feature_sign3.svg");
}
.features__image--food {
  background-image: url("../img/feature_sign4.svg");
}
.features__image--walk {
  background-image: url("../img/feature_sign5.svg");
}
.features__image--vet {
  background-image: url("../img/feature_sign6.svg");
}

@media (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__name {
    font-size: 18px;
    line-height: 24px;
  }

  .features__item {
    box-sizing: border-box;
    width: 324px;
    padding-right: 42px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .features__item {
    width: 370px;
  }

  .features__name {
    font-size: 22px;
    line-height: 26px;
  }
}
.room-card {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 0px 0px 8px 8px;
}

.room-card__text {
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 0px 0px 8px 8px;
}

.room-card__info {
  line-height: 18px;
}

.room-card__name {
  margin: 0;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 24px;
}

.room-card__info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.room-card__info {
  margin-bottom: 17px;
}
.room-card__info::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #fac663;
}
.room-card__info:last-child {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .room-card {
    position: relative;
  }

  .rooms .room-card .room-card__image {
    width: 442px;
    height: 326px;
  }

  .room-card__text {
    padding: 40px;
    position: absolute;
    top: 10px;
    left: 333px;
    z-index: 3;
  }

  .room-card__name {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .rooms .room-card .room-card__image {
    width: 600px;
    height: 404px;
  }

  .room-card__text {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 114px;
    top: 60px;
    left: 45%;
  }

  .room-card__name {
    font-size: 22px;
    line-height: 26px;
  }

  .room-card__info {
    line-height: 19px;
  }
}
.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  padding: 25px 21px 25px 40px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  position: relative;
}
.feedback__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 42px;
  background-image: url("../img/brackets.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__blockquote {
  margin: 0;
}

.feedback__text {
  font-weight: 500;
}

.feedback__name,
.feedback__date {
  opacity: 0;
}

@media (min-width: 768px) {
  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedback__name,
.feedback__date {
    opacity: 1;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
  }
}
@media (min-width: 1300px) {
  .feedback__text {
    font-size: 16px;
    line-height: 22px;
  }
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-list__item {
  margin-right: 20px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.social-list__link--fb {
  background-image: url("../img/social3.svg");
}
.social-list__link--inst {
  background-image: url("../img/social2.svg");
}
.social-list__link--vk {
  background-image: url("../img/social1.svg");
}

.contacts {
  padding-top: 40px;
  text-align: left;
  background-color: #fac663;
}

.contacts__map {
  width: 100%;
  height: 300px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.contacts__heading {
  text-align: left;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
  padding: 40px;
}

.contacts__item {
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__name {
  margin: 0;
  padding-bottom: 15px;
}

.contacts__text {
  margin: 0;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 369px;
    height: 100%;
    width: 399px;
    background-image: url("../img/map_tablet.png");
  }
}
@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__map {
    background-image: url("../img/map_desktop.png");
    left: 551px;
    width: 798px;
  }
}
.footer {
  border-top: 1px solid #efefef;
  font-size: 12px;
  line-height: 14px;
  color: #8f8f8f;
}

.footer__link {
  text-decoration: none;
  color: #8f8f8f;
}
.footer__link:hover {
  text-decoration: underline;
  color: #8f8f8f;
}
.footer__link:active, .footer__link:focus {
  text-decoration: underline;
  color: #6b6464;
}

.modal__input {
  width: 260px;
  height: 52px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
