body {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #1a212f;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 290px;
  margin: 0 auto;
}

.section__heading {
  font-family: "Rubik", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 678px;
  }

  .section__heading {
    font-size: 36px;
    line-height: 43px;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
  
  .container {
    width: 1170px;
  }
}
