.contacts {
  padding-top: 40px;
  text-align: left;
  background-color: #fac663;
}

.contacts__map {
  width: 100%;
  height: 300px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.contacts__heading {
  text-align: left;
}

.contacts__list {
  @include reset-list;
  line-height: 18px;
}

.contacts__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__name {
  margin: 0;
  padding-bottom: 15px;
}

.contacts__text {
  margin: 0;
}


@media (min-width: $tablet-width) {
.contacts {
  position: relative;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 369px;
  height: 100%;
  width: 399px;
  background-image: url("../img/map_tablet.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }
  
  .contacts__map {
    background-image: url("../img/map_desktop.png");
    left: 551px;
    width: 798px;
  }
  }