.contacts {
  padding-top: 40px;
  text-align: left;
  background-color: $secondary-background;
}

.contacts__map {
  width: 100%;
  height: 300px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.contacts__heading {
  text-align: left;
}

.contacts__list {
  @include reset-list;
  line-height: 18px;
  padding: 40px;
}

.contacts__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__name {
  margin: 0;
  padding-bottom: 15px;
}

.contacts__text {
  margin: 0;

  &--phone {
    text-decoration: none;
    color: $primary-text-color;
  }
}


@media (min-width: $tablet-width) {
.contacts {
  position: relative;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50vw;
  background-image: url("../img/map_tablet.png");
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }
  
  .contacts__map {
    background-image: url("../img/map_desktop.png");
    left: 40.85%;
    width: 798px;
  }
  }