.features__list {
  @include reset-list;
}

.features__item {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}

.features__name {
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.features__image {
  display: block;
  width: 60px;
  height: 60px;
  background: #fac663;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;

  &--temperature {
    background-image: url("../img/feature_sign1.svg");
  }
  &--video {
    background-image: url("../img/feature_sign2.svg");
  }
  &--taxi {
    background-image: url("../img/feature_sign3.svg");
  }
  &--food {
    background-image: url("../img/feature_sign4.svg");
  }
  &--walk {
    background-image: url("../img/feature_sign5.svg");
  }
  &--vet {
    background-image: url("../img/feature_sign6.svg");
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__name {
    font-size: 18px;
    line-height: 24px;
  }

  .features__item {
    box-sizing: border-box;
    width: 324px;
    padding-right: 42px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    width: 370px;
  }

  .features__name {
    font-size: 22px;
    line-height: 26px;
  }
}
