.feedback__list {
  @include reset-list;
}

.feedback__item {
  padding: 25px 21px 25px 40px;
  background: $main-background;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 21px;
    height: 42px;
    background-image: url("../img/brackets.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.feedback__blockquote {
  margin: 0;
}

.feedback__text {
  font-weight: 500;
}

.feedback__name,
.feedback__date {
  opacity: 0;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedback__name,
  .feedback__date {
    opacity: 1;
    font-size: 14px;
    line-height: 17px;
    color: $feedback-text;
  }
}

@media (min-width: $desktop-width) {
  .feedback__text {
    font-size: 16px;
    line-height: 22px;
  }
}
