.order-button {
  display: block;

  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1a212f;
  text-decoration: none;
  text-align: center;

  padding-top: 18px;
  padding-bottom: 20px;
  width: 206px;
  
  background: #fffefd;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;

  &--red {
    background-color: #ff7236;
    color: #fffefd;
  }
  
  &:hover {
    cursor: pointer;
  }
}
