.site-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-list__link {
  display: block;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $primary-text-color;
  text-decoration: none;
  width: 128px;

&:hover {
  color: $orange;
  }
  &:active,
  &:focus {
    color: $darker-orange;
    }
}